*.exe
*.pdb
*.obj
*.dll
*.cache
*.suo
*.user
*.vs/
bin/
obj/
release/
.claude/
*.xml
TrFileTransfer.exe.config
.mimosa/
.zcode/
udt-build/
udt-build2/
udt-master/doc/hlp/
udt-sdk/udt4/doc/hlp/
TrFileTransfer/Tests/*.log
